 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Arial', sans-serif;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
 }



 /* styling the header */

 header {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     background: linear-gradient(89.97deg, #F7AB97 -42.88%, #071548 144.4%);
     color: white;
     /* width: 1440px; */
     width: 86.7%;
     height: 50px;
     float: right;
 }

 .left__navbar__item {
     display: flex;
     width: 135.2px;
     height: 33.8px;
     top: 8px;
     left: 225px;
     gap: 18.59px;

 }

 .right__navbar__item {
     display: flex;
     flex-direction: row;
     width: 168.48px;
     height: 31.2px;
     top: 9px;
     left: 1246px;
     gap: 17.16px;
     text-align: center;
 }

 .dashboard_search_icon {
     display: flex;
     align-items: center;
     width: 82.81px;
     height: 33.8px;
     padding: 8.45px, 54.08px, 6.76px, 10.14px;
     border-radius: 25.04px;
     background: #FFFFFF;
 }

 .dashboard_search_icon img {
     margin-left: 10px;
 }

 .circle {
     display: flex;
     width: 33.8px;
     height: 33.8px;
     padding: 8.45px, 8.19px, 6.76px, 8.45px;
     border-radius: 25.04px;
     background: #FFFFFF;
     align-items: center;
     justify-content: center;
     cursor: pointer;
 }


 .user__info {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     color: black;
     width: 120.12px;
     height: 31.2px;
     padding: 4.68px, 12.48px, 4.68px, 14.04px;
     border-radius: 23.11px;
     background: #FFFFFF;
     font-family: Catamaran;
     font-size: 11px;
     font-weight: 600;
     line-height: 11px;
     letter-spacing: 0.016em;
     text-align: center;
 }

 /* end of the header style */


 /* styling the aside element */
 aside {

     width: 202px;
     height: 1024px;
     /* height: 100%; */
     top: -1px;
     left: -2px;
     background: #CDD0DA;
     float: left;

 }

 aside .sub__aside {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     width: 273px;
     height: 337.84px;
     top: 91.82px;
     left: 11px;
     gap: 33px;
     margin: 10px;
 }

 .sub__aside a {
     top: 4.43px;
     left: 10.54px;
     gap: 10.54px;
     text-decoration: none;
     color: black;
 }

 a img {
     margin-right: 10px;
 }

 .side__bar__logo {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 203px;
     height: 51px;
     top: -1px;
     left: -2px;
     padding: 16.7px, 13.5px, 17.91px, 166.5px;
     background: #F7AB97;
 }